.navlink {
  text-decoration: none;
  color: black !important;
}
.navlink-active-class .navlink.active {
  font-weight: bolder;
  color: #fbaf3a !important;
}

.navlink-active-class {
  font-weight: bolder;
  color: #fbaf3a !important;
}

.brand-image {
  max-height: 40px;
  padding-right: 10px;
}

.header-cntnt {
  display: flex;
  border-bottom: 1px solid #909090;
  width: 100%;
  height: 60px;
}
.head-right {
  display: flex;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}
.navlink {
  padding-left: 1.6rem;
}
.search-dv {
  padding-left: 1.6rem;
}

.inside-search {
  color: silver;
  border: 1px solid silver;
  border-radius: 25px;
  background: #fff;
  text-align: left;
}

.navbar-wrapper {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  border-top: 2px solid #fbaf3a;
  border-bottom: 1px solid silver;
}

.search-bar.form-control {
  width: 250px;
  font-size: 14px;
  border-radius: 25px !important;
}

.suggestion-box {
  margin-top: 5px;
  max-height: 200px;
  width: 250px;
  background-color: lightgray;
  position: absolute;
  overflow-y: auto;
  z-index: 99;
}

.suggestion-box::-webkit-scrollbar {
  display: none;
}

.suggestion-box-inner {
  border: 1px solid gray;
  min-height: 40px;
  padding: 6px 12px;
  font-size: 14px;
}

.suggestion-box-inner:hover {
  background-color: #fbaf3a;
}
